In [2]:
import pandas as pd

In [3]:
Sat_college = pd.read_csv("./SAT__College_Board__2010_School_Level_Results_20240506.csv")

In [4]:
Sat_college

,DBN,School Name,Number of Test Takers,Critical Reading Mean,Mathematics Mean,Writing Mean
0,01M292,Henry Street School for International Studies,31.0,391.0,425.0,385.0
1,01M448,University Neighborhood High School,60.0,394.0,419.0,387.0
2,01M450,East Side Community High School,69.0,418.0,431.0,402.0
3,01M458,SATELLITE ACADEMY FORSYTH ST,26.0,385.0,370.0,378.0
4,01M509,CMSP HIGH SCHOOL,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
455,75R025,South Richmond High School,10.0,407.0,421.0,400.0
456,75X012,PS12X LEWIS AND CLARK SCHOOL,NaN,NaN,NaN,NaN
457,75X754,P754 X - Jeffrey M. Rapport School for Career ...,NaN,NaN,NaN,NaN
458,76K460,John Jay High School,9.0,390.0,381.0,398.0
459,79X490,PHOENIX SCHOOL,7.0,404.0,423.0,416.0

In [6]:
Sat_college[Sat_college['Writing Mean']==Sat_college['Writing Mean'].max()]

,DBN,School Name,Number of Test Takers,Critical Reading Mean,Mathematics Mean,Writing Mean
42,02M475,STUYVESANT HIGH SCHOOL,804.0,674.0,735.0,678.0